p.h{
	word-spacing: 9cm;
	font-size: 15px;
	}

body {
	margin: 30px;
	max-width: 900px;
	margin: auto;
	}

h3 {
	letter-spacing: 3px;
	text-shadow: 2px 2px 6px #696969;
	}

p.font , ul.font {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	}

p.align {
	text-align: right;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	}

footer.style {
	text-align: left;
	font-size: 15px;
	}
